<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>00#django</title>
</head>
<body>
    {%extends 'base.html'%}

    {%block content%}
    <br>
    <br>
    <br>
    <h1>
            <mark>
                <p>Sariq dev python django darslari</p>
            </mark>
        </h1>

    <br>
    <br> 
    <ul>
    <h2>Djangoga kirish </h2>
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VdcrHd_BdNc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ul>
<ul> 
    <h2>Django #00</h2>   
<iframe width="560" height="315" src="https://www.youtube.com/embed/49_C_3kkW6g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ul>
<ul>
<h2>Django #01</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/RfhpQJkdcxg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ul>

    {% endblock content %}
    </body>
</html>